    {{> header}}
    
    <div id="buttons">
        <a href="#"><img src="./fotos/iconos/torneo.png">Torneos</a></li>
        <a href="#"><img src="./fotos/iconos/espadas.png">Equipos</a></li>
        <a href="#"><img src="./fotos/iconos/amigos.png">Amigos</a></li>
    </div>
    
    <div id="slider">
      <script>
          document.getElementById("defaultOpen").click();
          
          function openTab(evt, tab) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace("active", "");
              }
              document.getElementById(tab).style.display = "block";
              evt.currentTarget.className += " active";
          }
          
      </script>
      

      <div id= banners>
        <div class="tabcontent" id="uno">
          <img src="./fotos/banner/rainbowsixsiege.jpg">
        </div>


        <div class="tabcontent" id="dos" style="display: none;">
          <img src="./fotos/banner/clashroyale.jpg">
        </div>

        <div class="tabcontent" id="tres" style="display: none;">
          <img src="./fotos/banner/callofduty.jpg">
        </div>
      </div>
      <div class="tab">
        <div>
          <button class="tablinks active" id="defaultOpen" onclick="openTab(event, 'uno')">Rainbow Six Siedge</button>
        </div>
        <div>
          <button class="tablinks" onclick="openTab(event, 'dos')">Clash Royale</button>
        </div>
        <div>
          <button class="tablinks" onclick="openTab(event, 'tres')">Call of Duty</button>
        </div>
         
      </div>
    </div>

    <div>
      {{> listaTorneos}}
    </div>
    {{> footer}}
