<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/vistaTorneo.css">
</head>
<body>

</body>
</html>

<nav id="header">

    <div id="navLeftDiv">
        <a href=""><img class="navIcon" src="/fotos/iconos/search.png"></a>
        <a href=""><img class="navIcon" src="/fotos/iconos/torneo.png"></a>
        <a href=""><img class="navIcon" src="/fotos/iconos/amigos.png"></a>
    </div>

    <div id="navMidDiv">
        <a href="/"><img id="logo" src="/fotos/iconos/logo.png"></a>
    </div>

    <div id="navRightDiv" class="center">

        <div id="navUserDiv" tabindex="1">
            <span class="navUserName">{{user.alias}}</span>
            <img class="navIcon" src="/fotos/iconos/user.png">
            <div id="userDropMenu">
                <div class="userDropRow" id="loginRow">
                    <a class="navLink" href="/login">Iniciar sesión</a>
                </div>
                <div class="userDropRow">
                    <label for="whiteMode">Tema claro</label>
                    <input type="checkbox" id="whiteMode" name="whiteMode">
                </div>
                <div class="userDropRow" id="profileRow">
                    <a class="navLink" href="/profile">Perfil usuario</a>
                </div>
                <div class="userDropRow" id="logoutRow">
                    <a class="navLink" href="/logout">Cerrar sesión</a>
                </div>
            </div>
        </div>

    </div>

</nav>

<script>

    const loginRow = document.getElementById("loginRow");
    const profileRow = document.getElementById("profileRow");
    const logoutRow = document.getElementById("logoutRow");

    if ("{{user}}") {
        loginRow.style.display = "none";
    } else {
        profileRow.style.display = "none";
        logoutRow.style.display = "none";
    }

    document.getElementById("whiteMode").addEventListener("click", whiteMode);
    
    function whiteMode() {
        const r = document.querySelector(':root');
        if (this.checked) {
            r.style.setProperty("--bgPage", "#fcfcfc");
            r.style.setProperty("--bgLight", "#dddddd");
            r.style.setProperty("--bgDark", "#aaaaaa");
            r.style.setProperty("--bgAlpha", "#ddddddb6");
            r.style.setProperty("--bgAlpha2", "#bbbbbbb6");
            r.style.setProperty("--text1", "#000000");
            r.style.setProperty("--text2", "#4d4d4d");
        } else {
            r.style.setProperty("--bgPage", "#2b2b2b");
            r.style.setProperty("--bgLight", "#383838");
            r.style.setProperty("--bgDark", "#1e1e24");
            r.style.setProperty("--bgAlpha", "#383838b6");
            r.style.setProperty("--bgAlpha2", "#444444b6");
            r.style.setProperty("--text1", "#ececec");
            r.style.setProperty("--text2", "#b6b6b6");
        }
    }


</script>
