<header>
        <div>
          
        </div>
        <div>
          <a href=""><img id="logo" src="./fotos/iconos/logo.png"></a>
        </div>
        <div>
          <a href=""><img src="./fotos/iconos/search.png"></a>
          <a href=""><img src="./fotos/iconos/torneo.png"></a>
          <a href=""><img src="./fotos/iconos/amigos.png"></a>
          <a href=""><img src="./fotos/iconos/user.png"></a>
        </div>
    </header>