input, textarea {
    outline: none;
    border: none;
    background: var(--bgAlpha2);
    color: var(--text1);
    width: 240px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--bgAlpha2);
    transition: border-color 100ms;
}
input:hover, textarea:hover {
    border-color: var(--highlightLight);
}
input:active, textarea:active {
    border-color: var(--highlightDark);
}

textarea {
    height: 120px;
    width: 500px;
}

select {
    height: 30px;
    outline: none;
    color: var(--text1);
    background: var(--bgAlpha2);
    border: 1px solid var(--highlightDark);
    border-radius: 3px;
    transition: border-color 100ms;
    -webkit-appearance: none;
    padding: 5px;
}
select:hover {
    border-color: var(--highlightLight);
}
select:active {
    background-color: var(--bg2);
}


#content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 75px 0px;
}

#regFormDiv {
    background-color: var(--bgLight);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 1400px;
    padding: 20px 60px;
    gap: 30px;
}


#formTitle {
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}


.regHeader {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background-color: var(--bgDark);
    color: var(--text2);
    text-transform: uppercase;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.regBody {
    width: 100%;
    padding: 10px;
    background-color: var(--bgPage);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.regFormRow {
    display: flex;
}

.regFormLabel {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}

#formSubmitButton {
    background-color: var(--bgPage);
    border-radius: 5px;
    border: 2px solid var(--highlightLight);
    color: var(--text1);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    transition: border-color 100ms;
}
#formSubmitButton:hover {
    border-color: var(--highlightDark);
}