input{
    outline: none;
    border: none;
    background: var(--bgAlpha2);
    color: var(--text1);
    width: 240px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--bgAlpha2);
    transition: border-color 100ms;
}
input:hover{
    border-color: var(--highlightLight);
}
input:active{
    border-color: var(--highlightDark);
}

a{
    color: #A45ED5;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 75px 0px;
}

#regFormDiv {
    border: solid 20px var(--bgLight);
    background-color: var(--bgPage);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    padding: 20px 60px;
    gap: 30px;
}

#formTitle {
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.regBody {
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.regFormRow {
    display: flex;
}

.regFormLabel {
    margin-right: 2%;
    font-size: 18px;
    font-weight: bold;
}

#formSubmitButton {
    background-color: var(--bgPage);
    border-radius: 5px;
    border: 2px solid #A45ED5;
    color: var(--text1);
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    transition: border-color 100ms;
}
#formSubmitButton:hover {
    border-color: var(--highlightDark);
}