:root {
  --bgPage: #2b2b2b;
  --bgLight: #383838;
  --bgDark: #1e1e24;
  --bgAlpha: #383838b6;
  --bgAlpha2: #444444b6;
  --text1: #ececec;
  --text2: #b6b6b6;
  --highlightLight: #2ba4eb;
  --highlightDark: #686868;
}

* {
  box-sizing: border-box;
}
html, body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bgPage);
  color: var(--text1);
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  position: relative;
  font-family: Sans-serif;
  margin: 0px;
  background-image: url(./fotos/fondo.jpg);
  background-size: cover;
  padding-bottom: 5%;
  min-height: 90vh;
}



/*Footer*/

footer{
  position: absolute;
  bottom: 0;
  color: white;
  background-color: var(--bgPage);
  width: 100%;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 2.5rem;
  color: var(--text2);
}

/*End footer*/

/*Home*/

div#buttons{
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px 20%;
}

div#buttons > a{
  background-color: var(--bgPage);
  border-radius: 5px;
  border: 2px solid #A45ED5;
  color: var(--text1);
  transition: border-color 100ms;
  padding: 20px 50px;
  font-size: 30px;
  font-style: bold;
  font-weight: bold;
  text-decoration: none;
}

div#buttons > a:hover{
  color: #A45ED5;
  border-color: var(--highlightDark);
}

div#buttons > a > img{
  filter: invert();
  height: 50px;
  margin-right: 10px;
  vertical-align:middle
}

#slider{
  background-color: var(--bgPage);
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2% 0;
}

#banners{
  width: 72.5%;
}

.tab{
  width: 27.5%;
}

#slider > div.tab > div > button{
  background-color: var(--bgPage);
  border-radius: 5px;
  border: 2px solid var(--highlightDark);
  color: var(--text1);
  transition: border-color 100ms;

  padding: 10% 5%;
  font-size: 2.1em;
  font-style: bold;
  text-decoration: none;
  width: 100%;
}

#slider > div.tab > div > button:hover, #slider > div.tab > div > button.active{
  color: #A45ED5;
  border-color: #A45ED5;
}

#banners > div.tabcontent > img{
  width: 100%;
}

table#recomendados{
  width: 50%;
  margin: 0 25%;
  background-color: var(--bgPage);
  border-radius: 5px;
  border: 2px solid var(--highlightDark);
  transition: border-color 100ms;
}

#recomendados > tbody > tr:nth-child(1) > th{
  background-color: var(--bgPage);
  border-radius: 5px;
  border: 2px solid #A45ED5;
  transition: border-color 100ms;

  color: #A45ED5;
  padding: 20px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 30px;
}

#recomendados > tbody > tr:not(:first-child) > td{
  border: solid transparent 5px;
  background-color: var(--bgPage);
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(1){
  width: 15%;
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(2){
  width: 25%;
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(3){
  width: 40%;
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(4){
  width: 20%;
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(4) > a > button{
  padding: 10px 35px;
  font-size: 20px;
  font-style: bold;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: #A45ED5;

  
  background-color: #A45ED5;
  border-radius: 5px;
  border: 2px solid #A45ED5;
  color: black;
  transition: border-color 100ms;
}

#recomendados > tbody > tr:not(:first-child) > td:nth-child(4) > a > button:hover{
  color: #A45ED5;
  border-color: #A45ED5;
  background-color: var(--bgPage);
}

#recomendados > tbody > tr:not(:first-child) > td > img{
  width: 100%;
}

/*End home*/