

#tourTitleDiv {
    background-color: var(--bgAlpha2);
    padding: 20px;
    margin: 50px;
    display: flex;
    gap: 25px;
    border-radius: 10px;
    border: 2px solid var(--highlightDark);
}

#tourTitleGameImg {
    height: 130px;
    width: 90px;
}

#tourTitleInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#tourTitleText {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.tourTitleSubtext {
    color: var(--text2);
    font-weight: bold;
}


.contentDiv {
    width: 100%;
    padding: 40px 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#tourDescDiv {
    background-color: var(--bgLight);
}

.tourHeading {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

#tourRulesDiv {
    background-color: var(--bgPage);
}

#tourPlayersDiv {
    background-color: var(--bgLight);
}

#tourPlayerList {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.userListEntry {
    display: flex;
    align-items: center;
    gap: 5px;
}
.userListIcon {
    width: 20px;
    height: 20px;
}

#registerButton {
    all: unset;
    cursor: pointer;
    padding: 10px;
    border: 3px solid var(--highlightLight);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bgPage);
}
#registerButton:hover {
    background-color: var(--bgLight);
}


#bracketDiv {
    width: 100%;
    background-color: var(--bgAlpha);
    padding: 30px 150px;
}
#bracketColumns {
    overflow-x: auto;
    display: flex;
}

.bracketColumn {
    width: 300px;
}
.bracketColumn:not(:last-child) {
    border-right: 2px solid var(--highlightDark);;
}
.columnTitle {
    border-bottom: 2px solid var(--highlightDark);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.encounterList {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.encounter {
    width: 200px;
}
.encounterPlayer {
    background-color: var(--bgDark);
    padding: 5px;
    border: 1px solid var(--highlightDark);
    display: flex;
    gap: 6px;
    align-items: center;
}
.grey {
     color: var(--text2);
 }