<h1>Sign up</h1>
<form action="/signup" method="POST">
    <section>
        <label for="username">Username</label>
        <input id="correo" name="correo" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Sign up</button>
</form>